<html>
    <body>
    <h1> Welcome to deployment prediction tool </h1>

    <form>
        Careers : <button formaction="http://127.0.0.1:5000/careers"> Click for magic </button>
    </form>

    <a href="http://127.0.0.1:5000/alumni"> Alumni </a>



    <form>
        ProjectLab : <button formaction="http://127.0.0.1:5000/projectlab"> Click for projects </button>
    </form>

    <a href="http://127.0.0.1:5000/blog"> Blogs </a>


    <form method="post" action="/Login">
        <input type="email" name="user_name" placeholder="Email ID">
        <input type="number" name="ph_no" placeholder="Phone Number">
        <input type="text" name="password" placeholder="password">
        <button> Login </button>
    </form>


    <form method="post" action="/Model">
        <input type="number" name="preg" placeholder="Enter the number of pregnancies">
        <input type="number" name="plas" placeholder="Enter the value of Plasma">
        <input type="number" name="pres" placeholder="Enter the value of Blood Pressure">
        <input type="number" name="skin" placeholder="Enter the value of Skin Test">
        <input type="number" name="test" placeholder="Enter the value of Test">
        <input type="number" name="pedi" placeholder="Enter the value of Pedigree">
        <input type="number" name="mass" placeholder="Enter the value of Mass">
        <input type="number" name="age" placeholder="Enter the value of Age">
        <button> Predict </button>
    </form>


    </body>
</html>